{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/base.css' %}" /> <link rel="shortcut icon" type="image/png" href="" />
    <link rel="shortcut icon" type="image/png" href="{% static 'images/splash.png' %}" />
    <title>Bird Collector</title>
    {% block head %}
    {% endblock %}
  </head>
  <body> 
    <header>
      <div class="header-logo-container">
        <img src="{% static 'images/splash.png' %}" alt="The Bird Collector Logo" style="width:26px; height:auto;" />
      </div>
      <nav>
        <ul>
          <li><a href="{% url 'bird-index' %}">All Birds</a></li>
          <li><a href="{% url 'bird-create' %}">Add a Bird</a></li>
          <li><a href="{% url 'about' %}">About</a></li>
        </ul>
      </nav>
    </header>
    <main>
      {% block content %}
      {% endblock %}
    </main>
  </body>
</html>



